/*Styles for home page*/

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{/*size*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
    font-family: "Quantico", sans-serif;
    padding: 20px;
    line-height:1.4px;
}

h1,h2{
    text-transform: uppercase;
    text-align: center;/*horizontal align*/
}

/*h1{
    font-size: 5rem;
    line-height: 0.9em;
}*/

header,section{
    background-color: aqua;
    border-radius: 0.33rem; 
    float: left;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0px 5px 10px #333;
}

h2{
    font-size: 1rem;
}

section{/*conflict?*/
    background-color:bisque;
}

a:hover {
    text-decoration: underline;
}

#randomQuestion {
    flex: 1 1 100%;
    display: flex;
}
#coolPic img {
    max-width: 100%;
    height: auto;
}

main {/*stop overflow?*/
    display: flex;
    flex-wrap: wrap;   
    gap:20px;      
}

#courseworkLinks,#randomQuestion,#boringFact,#slangThatNeedsToGo,#interestingArticle{
    flex: 1 1 48%;
    min-width:150px;
    background-color:bisque;
    border-radius: 0.33rem;
    padding: 20px;
    box-shadow: 0px 5px 10px #333;
    display:flex;
    flex-direction:column;
}

@media(max-width: 500px){
    #courseworkLinks,#randomQuestion,#boringFact,#slangThatNeedsToGo,#interestingArticle{
        flex:1 1 100%;
    }
}