/*Styles for home page*/
*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

h1,h1{
    text-transform: uppercase;
}

header,section{
    background-color: aqua;
    height:90vh;
    width:60vh;
    float: left;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0px 5px 10px #333;
}

header{
    display: flex;
    align-items: center; /*vertical align*/
}

header h1{
    flex-grow: 1;/*fills space*/
    text-align: center;/*horizontal align*/
}

section{
    background-color:bisque;
}

#coolPic img{
    width: 100%;
    height: auto;
}