/*Styles for home page*/
*{
    box-sizing: border-box;
}

body{
    background-color:blueviolet;
}

h1,h1{
    text-transform: uppercase;
}

header,section{
    background-color:aqua;
    height:90vh;
    width:60vh;
    float: left;
    margin: 1rem;
    padding: 3rem;
    box-shadow: 0px 5px 10px #333;
}