/*Styles for home page*/

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    font-family: "Quantico", sans-serif;
    font-weight: 400;/*normal*/
}

h1,h2{
    text-transform: uppercase;
}

h1{
    font-size: 5rem;
    line-height: 0.8em;
}

header,section{
    background-color: aqua;
    height:90vh;
    width:60vh;
    float: left;
    margin: 1rem;
    padding: 3rem;
    border-radius: 0.33rem; 
    box-shadow: 0px 5px 10px #333;
}

header{
    display: flex;
    align-items: center; /*vertical align*/
}

header h1{
    flex-grow: 1;/*fills space*/
    text-align: center;/*horizontal align*/
}

section{
    background-color:bisque;
}

#coolPic img{
    width: auto;
    height: auto;
}