/*Styles for home page*/

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{/*size*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
    font-family: "Quantico", sans-serif;
    padding: 20px;
    line-height:0.9;
}

header{
    background-color: aqua;
    margin-bottom: 30px;
    padding: 40px 20px;
    box-shadow: 0px 5px 10px #333;
}

header h1{
    /*margin-top:10px ;
    margin-bottom:10px;*/
    font-size: 5rem;
    text-transform: uppercase;
}

section{
    background-color:bisque;
    padding:20px;
    margin-bottom:20px;
    box-shadow: 0px 5px 10px #333;
}

h2{
    font-size: 1.5rem;
    margin-bottom:10px;
    text-transform: uppercase;
}

ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

p{
    margin-bottom:10px;
    /*margin-top:15px;*/
}

a {

    color: #1468b8;

    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

main {/*stop overflow?*/
    display: flex;
    flex-wrap: wrap;   
    gap:20px;      
}

#courseworkLinks,#randomQuestion,#boringFact,#slangThatNeedsToGo/*#,interestingArticle*/{
    flex: 1 1 48%;
    min-width:250px;
    background-color:bisque;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 5px 10px #333;
    display:flex;
    flex-direction:column;
}

@media(max-width: 500px){
    #courseworkLinks,#randomQuestion,#boringFact,#slangThatNeedsToGo/*,#interestingArticle*/{
        flex:1 1 100%;
    }
}