/* styles for weather app */


/**************************************** general layout */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --predictionBoxWidth: 80vw;/*og 50*/
    --predictionBoxHeight: 20vh;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    font-family:"Roboto Condensed";
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh var(--predictionBoxHeight);
    grid-template-areas:/*sets layout for specific info areas*/
        'currentInfo    currentInfo'
        'currentHum     currentWind'
        'future         future';
}


/**************************************** current info */

#currentInfo {
    position: relative;
    grid-area: currentInfo;/*gives section an ID to place in grid area*/
    background-color: grey;
    border-bottom: 1px solid white;
}

#currentLocation{
    position: absolute;
    font-size: 4rem;
    left: 50%;
    top: 20%;
    transform:translate(-50%,-30%);
}

#currentTemp {
    position: absolute;
    font-size: 8rem;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

#currentStatus {
    position: absolute;
    font-size: 5rem;
    left: 50%;
    bottom: 10%;
    transform:translate(-50%,-30%);
}


/**************************************** current humidity */

#currentHumidity {
    position: relative;
    grid-area: currentHum;
    background-color: aquamarine;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**************************************** current wind */

#currentWind {
    position: relative;
    grid-area: currentWind;
    background-color: lightgray;
    border-bottom: 1px solid white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**************************************** future prediction */

#futureInfo {
    position: relative;
    grid-area: future;
    background-color: lightgreen;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-size:2rem;
}

#futureInfo::-webkit-scrollbar {
    display: none;
}

.futureDay {
    position: absolute;
    width: var(--predictionBoxWidth);
    height: var(--predictionBoxHeight);
    /*border-right: 1px solid gray;*/
    left: 50%;
    top:50%;
    transform:translate(-50%, -20%);
}

.futureDay:nth-child(2) {
    border-right: 1px solid gray;
    left: var(--predictionBoxWidth);
}

.futureDay:nth-child(3) {
    left: calc(var(--predictionBoxWidth) * 1.4);
    border-right: none;
}



/**************************************** future prediction */

@media screen and (orientation: landscape) {

    :root {
        --predictionBoxWidth: 80vw;/*og 30*/
        --predictionBoxHeight: calc( 100vh / 3 );
    }

    main {
        grid-template-columns: 60vw 40vw;
        grid-template-rows: var(--predictionBoxHeight) var(--predictionBoxHeight) var(--predictionBoxHeight);
        grid-template-areas:
            'currentInfo    currentHum'
            'currentInfo    currentWind'
            'future    future';
    }

    #currentInfo {
        border-bottom: none;
        border-right: 1px solid white;
    }
}